/* Imported Fonts */

/* Bebas Neue */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

/* Pacifico */
@import url('https://fonts.googleapis.com/css2?family=Leckerli+One&family=Pacifico&display=swap');

/* Leckerli One */
@import url('https://fonts.googleapis.com/css2?family=Leckerli+One&display=swap');

/* Flexbox test */

/*
* {
  border-style: solid;
  border-width: 1px;
  margin: 5px;
} */

#main-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: hsl(60, 20%, 17%);
  color: white;
}

#header-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 32px;
  font-family: 'Bebas Neue', cursive;
  font-size: 22px;
}

.header-links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin-right: 32px;
}

#main-header-list {
  display: flex;
}

li {
  list-style: none;
  padding-left: 40px;
  padding-left: 40px;
  font-family: 'Bebas Neue', cursive;
  font-size: 22px;
}

#welcome-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  background-image: url('images/coffee-beans.jpg');
  background-size: cover;
}

h1 {
  font-family: 'Pacifico', cursive;
  color: antiquewhite;
}

#first-h1 {
  font-size: 28px;
  margin: 0%;
  margin-top: 20px;
}

#second-h1 {
  font-size: 48px;
  margin: 0%;
}

#main-p {
  padding: 0 100px 0 100px;
  margin-top: 16px;
  font-family: 'Leckerli One', cursive;
  font-size: 18px;
  color: white;
}

#explore-button {
  padding: 14px 18px 14px 18px;
  margin-top: 20px;
  margin-bottom: 40px;
  border-radius: 14px;
  font-size: 16px;
  font-weight: bold;
  background-color: hsl(36, 100%, 54%);
  color: white;
}



#coffee-beans {
  height: 100px;
  width: auto;
}