/* Imported Fonts */

/* Bebas Neue */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

/* Pacifico */
@import url('https://fonts.googleapis.com/css2?family=Leckerli+One&family=Pacifico&display=swap');

/* Leckerli One */
@import url('https://fonts.googleapis.com/css2?family=Leckerli+One&display=swap');

/* Concert One */
@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');

/* Damion */
@import url('https://fonts.googleapis.com/css2?family=Damion&display=swap');

/* Roboto */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* Cabin */
@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');

/* Roboto */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* Flexbox test */

/*
* {
  border-style: solid;
  border-width: 1px;
  margin: 5px;
}
*/

body {
  margin: 0;
}

/* Header */

#main-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #381b13; /* #51291E, #301014 */
  color: white;
}

#header-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 32px;
  font-family: 'Bebas Neue', cursive;
  font-size: 22px;
}

.header-links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin-right: 32px;
}

#main-header-list {
  display: flex;
}

li {
  list-style: none;
  padding-left: 40px;
  padding-left: 40px;
  font-family: 'Bebas Neue', cursive;
  font-size: 22px;
}

/* Welcome Section */

#welcome-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  background-image: url('images/coffee-welcome.jpg');
  background-size: cover;
}

h1 {
  font-family: 'Damion', cursive;
  color: white;
}

#first-h1 {
  font-size: 28px;
  margin: 0%;
  margin-top: 20px;
  border-bottom: 3px solid #CFB299;
}

#second-h1 {
  font-size: 4em;
  margin: 1%;
  border-radius: 50px;
  padding: 8px 40px;
  font-family: 'Damion', cursive;
}

#main-p {
  max-width: 880px;
  margin-top: 16px;
  font-family: 'Leckerli One', cursive;
  font-size: 18px;
  color: antiquewhite;
}

#explore-button {
  padding: 14px 18px 14px 18px;
  margin-top: 20px;
  margin-bottom: 40px;
  border-radius: 14px;
  font-size: 16px;
  font-weight: bold;
  background-color: hsl(36, 100%, 44%);
  color: white;
  transition: background-color 0.4s ease-out 10ms;
}

#explore-button:hover {
  background-color: hsl(36, 100%, 58%);
}

/* Our services */

#services {
  display: flex;
  flex-direction: row;
  padding: 56px 20px 36px 20px;
  background-color: rgb(249 220 201 / 49%);
  font-family: 'Concert One', cursive;
}

#services div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#services img {
  width: 68px;
  height: auto;
}

#services div h2 {
  margin-bottom: 0;
}

/* About our Coffee */

#about-our-coffee {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding-top: 66px;
  padding-bottom: 66px;
  min-width: 80em;
}

#about-our-coffee > div > h3 {
  max-width: fit-content;
  margin: 0;
  padding-bottom: 8px;
  font-size: 40px;
  font-family: 'Damion', cursive;
  border-bottom: 3px solid #CFB299;
}

#about-our-coffee > div > h3 > span {
  color: #9F643D;
}

#about-our-coffee div > p {
  font-family: 'Roboto', sans-serif;
}

#about-our-coffee div > div h3 {
  font-family: 'Roboto', sans-serif;
}

.left-our-coffee {
  padding-left: 10px;
  max-width: 500px;
}

.left-our-coffee > div {
  display: flex;
  flex-direction: row;
}

.left-our-coffee > div img {
  height: 44px;
  width: 44px;
  padding-top: 10px;
  padding-right: 20px;
}

.right-our-coffee {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 480px;
}

.right-our-coffee img {
  height: auto;
  width: 300px;
  border-radius: 30px;
  border-bottom: 8px solid #9F643D;
  border-right: 8px solid #9F643D;
}

/* Our Products */

#our-products {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 66px;
  padding-bottom: 66px;
  background-color: rgb(249, 249, 249);
  padding-bottom: 80px;
}

#our-products > h3 {
  max-width: fit-content;
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 40px;
  font-family: 'Damion', cursive;
}

#our-products > h3 > span {
  color: #9F643D;
}

#our-products > p {
  padding-bottom: 14px;
  font-size: 18px;
  text-align: center;
  max-width: 800px;
  margin-bottom: 40px;
  font-family: 'Roboto', sans-serif;
}

#our-products div > div > img {
  height: 280px;
  width: 200px;
  border-radius: 30px 10px;
  border: 6px solid #9F643D;
}

#card-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  min-width: 860px;
}

.product-card {
  display: flex;
  height: auto;
  width: 200px;
}

/* What our Customers Say */

#our-customers-say {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 66px;
  padding-bottom: 66px;
}

#our-customers-say > h4 {
  max-width: fit-content;
  margin: 0;
  margin-bottom: 10px;
  font-size: 40px;
  font-family: 'Damion', cursive;
}

#our-customers-say > h4 > span {
  color: #9F643D;
}

#our-customers-say > p {
  max-width: 800px;
  font-size: 18px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  padding-bottom: 20px;
}

#review-section {
  display: flex;
  flex-direction: row;
}

.review-card {
  display: flex;
  flex-direction: column;
  height: 260px;
  width: 260px;
  margin: 20px 16px;
  border-radius: 50px 10px;
  padding: 20px 24px;
  background-color: #aa836f; /* CB997E */
}

.review-card img {
  align-self: center;
  height: auto;
  width: 100px;
  border-radius: 50px;
}

.review-card p {
  color: white;
  font-family: 'Cabin', sans-serif;
  font-size: 16px;
  padding-bottom: 20px;
}

.review-card span {
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  padding-bottom: 8px;
}

#coffee-beans {
  height: 100px;
  width: auto;
}